name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Ninja
      run: sudo apt-get install -y ninja-build

    - name: Configure
      run: cmake --preset debug

    - name: Build
      run: cmake --build --preset build-debug

    - name: Test
      run: ctest --preset run-tests
